<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorator="LayoutDefault">

<section layout:fragment="RenderBody">
	
<div class="card">
		<div class="card-header ">
			<h1>Pesquisa de Evento</h1>
			<a id="link" class="btn btn-link" href="/eventos/create">Criar novo Evento</a>
		</div>
	
	<div class="card-body">
		
		<form  method="GET" class="form-horizontal" th:object="${filter}">
			<div class="form-group">
				<div class="col-sm-4">
					<div class="input-group">
						<input class="form-control" placeholder="Buscar..." autofocus="autofocus" th:field="*{nome}" name="nome">
						<span class="input-group-btn" >
							<button type="submit" class="btn btn-default"><img src="img/icons8-pesquisar-50.png" width="30" height="30"/></button>
						</span>
					</div>
				</div>
			</div>
		</form>
		<table class="table table-bordered table-striped">
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">Img</th>
				<th class="text-center">Nome</th>
				<th class="text-center">Casa</th>
				<th class="text-center">Local</th>
				<th class="text-center">Data</th>
				<th class="text-center">Hora</th>
				<th class="text-center">Qtd Ingressos</th>
				<th class="text-center">Valor de Ingresso</th>
				<th class="text-center">Categoria</th>
				<th>Ações</th>
	
			</tr>
	
			<tbody>
				<tr th:each="evento : ${eventos}">
					<td class="text-center" th:text="${evento.id}"></td>
					<td><img th:src="'img/' + ${evento.img}" width="50px"></td>
					<td class="text-center" th:text="${{evento.nome}}"></td>
					<td class="text-center" th:text="${{evento.casa.nome}}"></td>
					<td class="text-center" th:text="${{evento.casa.local}}"></td>
					<td class="text-center" th:text="${{evento.data}}"></td>
					<td class="text-center" th:text="${{evento.hora}}"></td>
					<td class="text-center" th:text="${{evento.qtdIngresso}}"></td>
					<td class="text-center" th:text="${{evento.valorIngresso}}"></td>
					<td class="text-center" th:text="${{evento.categoria}}"></td>
					<td>
						<a class="btn btn-link btn-xs" th:href="@{/eventos/{id}(id=${{evento.id}})}"
							title="Editar" rel="tooltip" data-placement="top">
							<img src="/img/icons8-editar-propriedade-32.png" />
						</a>
						<a class="btn btn-link btn-xs" th:href="@{/eventos/delete/{id}(id=${{evento.id}})}"
								title="Deletar" rel="tooltip" data-placement="top">
								<img src="/img/icons8-excluir-32.png" />
						</a>
								
					</td>
					 </tr>
					<tr>
					 	<td colspan="6" th:if="${#lists.isEmpty(eventos)}">Nenhum evento foi encontrado</td>
					 </tr>
	
			</tbody>
		
		</table>
		</div>
	</div>	
</section>

